   body{
      text-align: center;
      background-color:rgb(136, 164, 154);
    }
    p{
      font-weight: bold;
      font-size:20px;
     
    }
    h1{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-weight: lighter;
    }

    span{
      font-style: italic;
      font-family:cursive;
      background-color: rgb(218, 219, 220);
      border-radius: 5px;
    }
    div{
      background-color:blanchedalmond;
      width:50%;
      height:200px;
      padding: 5px;
      text-align: center;
      margin:auto;
      border-radius:4px;
    }
    button:hover{
      background-color: brown;
      color: bisque;

    }